
.custom-table {
    h4 {
    font-size: 18px;
    margin: 12px 0px;
}
    th {
        color: #c2c2c2;
        font-weight: normal;
}
    th, td {
        padding: 15px;
        font-size: 120%;
        vertical-align: middle;
        border-bottom: 1px solid #ebebeb;
        border-top: 1px solid #ebebeb;
        
        &:first-child {
            width: 50%;
        }
        &:not(:first-child) {
            text-align: center;
        }
    }
    tfoot td {
    border-bottom: none;
    font-size: 150%;
}
}

 #form-advanced-search {
    border: 1px solid #ebebeb;
    padding-bottom: 20px;
    margin-bottom: 35px;
    height: fit-content;

    .panel {
    border: none;
    padding: 5px;
 }
    label {
    font-weight: bold;
    cursor: pointer;
  }
 }

 
#carousel-featured {
    background-color: #f7f8f3;
    height: 400px;
    padding-top: 25px;

    .carousel-item img {
    height: 375px;
    }
    .product-details {
    border: 1px solid #DDDDDB;
    padding: 20px;
    position: relative;
    top: 50px;
    height: 200px;
    background-color: #f7f8f3;
    }
    .product-details h1 {
    font-weight: 700;
    font-size: 175%;
    margin-top: 18px;
    }
    .product-details  .product-category {
    border: 1px solid #DDDDDB;
    padding: 10px;
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: #f7f8f3;
    }
}